@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top,
      rgba(99, 102, 241, 0.15),
      transparent 35%
    ),
    #020617;

  color: var(--foreground);

  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}